.header {
    height: 80px;
    background-color: #0b0b0b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 100px;
    color: #FFFFFF;
}

.header h2 {
    padding-right: 1000px;
}

.header img {
    height: 70px;
    width: 80px;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 30px;

}

.header a:hover {
    color: orange;
}